<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houxiang.wenbiserver.mapper.EssayMapper">

    <!--public int insertEssay(Essay essay);-->
    <insert id="insertEssay" parameterType="com.houxiang.wenbiserver.model.Essay" useGeneratedKeys="true" keyProperty="essayId">
        insert into essay (essay_author,essay_title,essay_content,essay_date,essay_state,essay_cover)
        values (#{authorId,jdbcType=INTEGER},#{essayTitle,jdbcType=VARCHAR},#{essayContent,jdbcType=VARCHAR},
        #{essayDate,jdbcType=TIMESTAMP},#{essayState,jdbcType=INTEGER},#{essayCover,jdbcType=VARCHAR})
    </insert>

    <!--public int selectEssayByAuthorIdAndEssayTitle(@Param("authorId")
    int authorId,@Param("essayTitle") String essayTitle);-->
    <select id="selectEssayByAuthorIdAndEssayTitle" resultType="Integer">
        select count(*) from essay where essay_author=#{authorId,jdbcType=INTEGER} and essay_title=#{essayTitle,jdbcType=VARCHAR}
    </select>

    <!--public Essay selectEssayByEssayId(@Param("essayId") int essayId);-->
    <select id="selectEssayByEssayId" resultType="com.houxiang.wenbiserver.model.Essay">
        select user.nickname as authorName,
        essay_id as essayId,
        essay_author as authorId,
        essay_title as essayTitle,
        essay_content as essayContent,
        essay_date as essayDate,
        (select count(*) from user_collect_essay where essay_id = essay.essay_id and user_id = #{userId,jdbcType=INTEGER}) as isCollect
        from essay join user on essay.essay_author=user.user_id where essay_id=#{essayId,jdbcType=INTEGER} and essay_state=2
    </select>

    <!--public int collectEssay(@Param("essayId") int essayId,@Param("userId") int userId);-->
    <insert id="collectEssay">
        insert user_collect_essay (user_id,essay_id)values(#{userId,jdbcType=INTEGER},#{essayId,jdbcType=INTEGER})
    </insert>

    <!--public int cancelCollectEssay(@Param("essayId") int essayId,@Param("userId") int userId);-->
    <delete id="cancelCollectEssay">
        delete from user_collect_essay where user_id = #{userId,jdbcType=INTEGER} and essay_id = #{essayId,jdbcType=INTEGER}
    </delete>

    <!--List<Essay> getCollectEssayByUserId(int userId);-->
    <select id="getCollectEssayByUserId" resultType="com.houxiang.wenbiserver.model.Essay">
        select es.essay_id,es.essay_title,es.essay_date,es.essay_cover from user_collect_essay as uses join essay as es
        where uses.user_id = #{userId,jdbcType=INTEGER} and uses.essay_id = es.essay_id
    </select>

    <!--List<Essay> getCreateEssayByUserId(int userId);-->
    <select id="getCreateEssayByUserId" resultType="com.houxiang.wenbiserver.model.Essay">
        select essay_id,essay_title,essay_content,essay_date,essay_cover from essay
        where essay_author = #{userId,jdbcType=INTEGER}
    </select>

    <!--List<Essay> getLastTenEssay();-->
    <select id="getLastTenEssay" resultType="com.houxiang.wenbiserver.model.Essay">
        select essay_id,essay_title from essay order by essay_date desc limit 10
    </select>

    <!--public int addVisitCount(int essayId);-->
    <update id = "addVisitCount">
        update essay set visit_count=visit_count+1 where essay_id = #{essayId,jdbcType=INTEGER}
    </update>

    <!--public List<Essay> getHotEssay();-->
    <select id="getHotEssayData" resultType="com.houxiang.wenbiserver.model.Essay">
        select es.essay_id,es.essay_title,es.visit_count,(select count(*) from user_collect_essay where essay_id = es.essay_id) as collect_count
        from essay as es order by essay_date desc limit 10000
    </select>

    <!--public List<Essay> getEssayByEssayIdList(@Param("essayids") List<Integer> essayIds);-->
    <select id="getEssayByEssayIdList" resultType="com.houxiang.wenbiserver.model.Essay">
      select essay_id,essay_title,essay_date,essay_cover,visit_count from essay where essay_id in
        <foreach collection="essayids" index="index" item="essayId" open="(" separator="," close=")">
            #{essayId}
        </foreach>
    </select>
</mapper>
