<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.houxiang.wenbiserver.mapper.EssayMapper">

    <!--public int insertEssay(Essay essay);-->
    <insert id="insertEssay" parameterType="com.houxiang.wenbiserver.model.Essay">
        insert into essay (essay_author,essay_title,essay_content,essay_date,essay_state)
        values (#{authorId,jdbcType=INTEGER},#{essayTitle,jdbcType=VARCHAR},#{essayContent,jdbcType=VARCHAR},
        #{essayDate,jdbcType=TIMESTAMP},#{essayState,jdbcType=INTEGER})
    </insert>
</mapper>